mimics tezos operation signing

<script src="base58check.js"></script>
<script src="sodium.js" async></script>

<script>

  // Secret key.  Sorry, this secret key has 0 value in Tezos mainnet.
  const edsk = 'edsk2mrJTWxHFipkwcSEwytwns13YJLdU7qUGk9Js8XfpgGkGgdvN3';

  function b58c_decode(s, prefix_bytes) {
      let hex = base58check.decode(s, 'hex');
      hex = hex.prefix + hex.data;
      return sodium.from_hex( hex.substring( prefix_bytes * 2 ) );
  }

  function b58c_encode(bin, prefix_hex) {
      return base58check.encode(sodium.to_hex(bin), prefix= prefix_hex);
  }
  
  function doit() {
      // Tezos secret key is a 32 byte seed, base58check encoded
      const seed = b58c_decode(edsk, 4);
      // libsodium uses 'expanded' 64 byte secret key
      kp = sodium.crypto_sign_seed_keypair( seed );

      // Tezos public key is base58check encoded
      const edpk = b58c_encode(kp.publicKey, '0d0f25d9');
      console.log(edpk);

      // tz1.. is created from 20 byte hash of public key
      pkhash = sodium.crypto_generichash(20, kp.publicKey);
      // let ed25519_public_key_hash = "\006\161\159" (* tz1(36) *)
      const tz1 = b58c_encode(pkhash, '06a19f');
      console.log(tz1);
      
      // Tezos operation binary, made by rpc post /chains/main/blocks/head/helpers/forge/operations
      const operation_bin_hex = '1b7165a195704dc162459d72917a4799c812c788ede48d34d38d68bd04306b446c00502945fdb7effadca4fa85ef309f21237ee6e8abf02eda8b4af70b000100005d73a033f35d12e76d123d672c73f919d367f18100'
      const operation_bin = sodium.from_hex(operation_bin_hex); 
      // must be prefixed with '03'
      const operation_bin_hex_3 = '03' + operation_bin_hex
      // 32 byte blake2b hash
      const h = sodium.crypto_generichash(32, sodium.from_hex(operation_bin_hex_3));
      // signs the hash
      const sig = sodium.crypto_sign_detached(h, kp.privateKey);
      // check
      const b = sodium.crypto_sign_verify_detached(sig, h, kp.publicKey);
      if (!b){ alert('wrong'); }

      // b58check encoding with 'edsig' prefix
      // let ed25519_signature = "\009\245\205\134\018" (* edsig(99) *)
      const sig_b58 = b58c_encode(sig, '09f5cd8612');
      console.log( sig_b58 );

      // injection = operation_bin || sig 
      const buf = new ArrayBuffer( operation_bin.byteLength + sig.byteLength );
      const injection = new Uint8Array(buf);
      injection.set( operation_bin, 0);
      injection.set( sig, operation_bin.byteLength );
      console.log( sodium.to_hex( injection ));
  }

  window.sodium = {
    onload: doit
  };
</script>
